.alogincontainer{
    background-color: rgb(236, 179, 74);
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.logincontainer{
    background-color: pink;
    border-radius: 20px;
    padding:70px;
}
td{
    width:5%;
    height:10%;
}
.abut{
    background-color: orange;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin-left: 80px;
}
.abut:hover{
    background-color: rgb(146, 124, 124);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin-left: 80px;
}